<style>
  {%- comment -%}
    .bg-color {
      background-color: {{ section.settings.color_scheme }};
    }
  {%- endcomment -%}
  .para {
    display: flex;
    margin: 0 30%;
    font-size: 1.5rem;
    font-family: 'Maison Neue', 'Neue Haas Unica', sans-serif;
    padding-bottom: 20px;
  }
</style>

<section class="bg-color">
  <p class="para">
    {{ section.settings.para }}
  </p>
</section>

{% schema %}
  {
    "name": "para",
    "settings": [
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "#e9e1d0",
            "label": "accent-3"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          }, {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "accent-1",
        "label": "t:sections.all.colors.label"
      }, {
        "type": "text",
        "id": "para",
        "label": "Paragraph",
        "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolor, sunt ratione labore alias eius voluptatibus! Reprehenderit in, sint, eligendi consequatur animi illum, dolorem sit tempora voluptatem quas iste labore!"
      }
    ],
    "presets": [
      {
        "category": "content",
        "name": "para"
      }
    ]
  }
{% endschema %}